:root {
  --primary: #3381ff;
  --bg: #7bdaff;
}

/* layouting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #7bdaff, #3381ff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: linear-gradient(120deg, #3381ff, #7bdaff);
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 25px;
  font-size: 22px;
  color: white;
}

.login-container input {
  width: auto;
  padding: 12px;
  margin: 10px;
  border: 1px solid #7bdaff;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3 ease;
}

.login-container input:focus {
  outline: none;
  border-color: white;
}

.login-container button {
  width: auto;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: #3b82f6;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-container button:hover {
  background-color: #2563eb;
}

/* lupa password */
.login-container button[type="button"] {
  background-color: #e5e7eb;
  color: var(--primary);
}
.login-container button[type="button"]:hover {
  background-color: #99b5eb;
}

/* paragraf bawah form */
.login-container p {
  margin-top: 15px;
  font-size: 14px;
  color: black;
}

.login-container a {
  color: #f4f5f7;
  font-weight: 500;
}

.login-container a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

footer img {
  width: 80px;
  height: auto;
  opacity: 0.8;
}

/* responsif media */
@media (max-width: 480px) {
  .login-container {
    padding: 30px 20px;
  }

  .login-container h2 {
    font-size: 20px;
  }
}
